* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.navbar {
    background-image: linear-gradient(to top, #2798df 0%, #1a47db 100%);
    height: 80px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.3rem;
    position: sticky;
    top: 0;
    z-index: 999;
}

.navbar__container {
    display: flex;
    justify-content: space-between;
    height: 80px;
    z-index: 1;
    width: 100%;
    max-width: 1300px;
    margin: 0 auto;
    padding: 0 50px;
}


.navbar__menu {
    display: flex;
    align-items: center;
    list-style: none;
    text-align: center;
}

.navbar__item {
    height: 80px;
    font-family: 'Times New Roman', Times, serif;
}

.navbar__links {
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    padding: 0 1rem;
    height: 100%;
}

.Title {
    display: flex;
    justify-content: left;
    align-items: center;
    font-size: larger;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding: 0 1rem;
    width: 100%;
}

.navbar__links:hover {
    color: #7c0ba5;
    transition: all 0.3s ease;
}


.about_me {
    display: grid;
    grid-template-columns: 1fr 1fr;
    align-items: center; 
}

.about_me img {
    padding-top: 100px;
    padding-left: 50px;
    max-width: 60%;
    margin-right: 20px; 
}

.about_me_write {
    padding: 20px;
}